<p id="notice"><%= notice %></p>

<h1>Service Time Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_time_categories.each do |service_time_category| %>
      <tr>
        <td><%= service_time_category.name %></td>
        <td><%= link_to 'Show', service_time_category %></td>
        <td><%= link_to 'Edit', edit_service_time_category_path(service_time_category) %></td>
        <td><%= link_to 'Destroy', service_time_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service Time Category', new_service_time_category_path %>
