<%= form_with(model: service_type_category, local: true) do |form| %>
  <% if service_type_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service_type_category.errors.count, "error") %> prohibited this service_type_category from being saved:</h2>

      <ul>
      <% service_type_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :service_type_category_name %>
  </div>

  <div class="field">
    <%= form.label :order %>
    <%= form.number_field :order, id: :service_type_category_order %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
