<%= form_with(model: link, local: true) do |form| %>
  <% if link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titile %>
    <%= form.text_field :titile, id: :link_titile, required: true %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :link_description, required: true %>
  </div>

  <!-- <div class="field">
    <%= form.label :favicon %>
    <%= form.text_field :favicon, id: :link_favicon %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :link_image %>
  </div> -->

  <div class="field">
    <%= form.label :announce_date %>
    <%= form.date_field :announce_date, id: :link_announce_date, required: true %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :link_url, required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
