<p id="notice"><%= notice %></p>

<% if current_user.certification? %>
  <div class="">
    <div class="card" style="max-width:560px; width: 100%; height:auto; margin:10px auto;">

      <iframe max-width="559" width="100%" max-height="100%" height="260"
        src="<%= "https://www.youtube.com/embed/" + (@link.url.split('/').last).to_s %>"
        frameborder="0"
        gesture="media"
        allow="encrypted-media"
        allowfullscreen>
      </iframe>
      <div class="card-block" style='padding:20px;'>
        <h4 class="card-title"><%= @link.titile %></h4>
        <p class="card-text"><%= @link.description %></p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <% @link.service_time_categories.each do |category| %>
              #<%= category.name %>
            <% end %>

            <% @link.service_type_categories.each do |category| %>
              #<%= category.name %>
            <% end %>

            <% @link.word_content_categories.each do |category| %>
              #<%= category.name %>
            <% end %>
        </li>

        <li class="list-group-item">
            <% @link.words.each do |word| %>
                  <h5><%= word.title %></h5>
                  <div><%= simple_format word.content %></div>
                  <% word.service_time_categories.each do |category| %>
                    #<%= category.name %>
                  <% end %>
                  <% word.service_type_categories.each do |category| %>
                    #<%= category.name %>
                  <% end %>
                  <% word.word_content_categories.each do |category| %>
                    #<%= category.name %>
                  <% end %>
                  <% if user_signed_in? and current_user.admin? %>
                    <%= link_to 'Edit', edit_link_word_path(@link, word, :id => word.id, :link_id => word.link_id), class: "btn btn-outline-info btn-sm" %>
                    <%= link_to 'Destroy', [word.link, word], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
                  <% end %><hr>
            <% end %>
        </li>

        <% if user_signed_in? and current_user.admin? %>
          <li class="list-group-item">
              <%= render 'words/form', word: @word %>
          </li>
        <% end %>
      </ul>
      <div class="card-footer text-muted">
        <% if user_signed_in? and current_user.admin? %>
            <%= link_to '編輯', edit_link_path(@link), class: "btn btn-secondary" %>
            <%= link_to '刪除', @link, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary" %>
        <% end %>
        <%= link_to 'Back', links_path, class: "btn btn-secondary" %>
      </div>

    </div>

  </div>
<% else %>
  <%= render 'certification' %>
<% end %>
