<p id="notice"><%= notice %></p>
<div class="">
  <div class="card" style="max-width:500px; width: 100%; height:auto; margin:10px auto;">


    <iframe width="560" height="315"
      src="https://www.youtube.com/embed/0DQhiJfUNuU"
      frameborder="0"
      gesture="media"
      allow="encrypted-media"
      allowfullscreen>
    </iframe>
    <div class="card-block">
      <h4 class="card-title"><%= @link.titile %></h4>
      <p class="card-text"><%= @link.description %></p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
    <div class="card-footer text-muted">
      <%= link_to 'Show', @link, class: "btn btn-primary" %>
      <%= link_to 'Edit', edit_link_path(@link), class: "btn btn-primary" %>
      <%= link_to 'Destroy', @link, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
