<% if word == nil %>
<% word = @link.words.build %>
<% end %>
<%= form_for([@link, word ]) do |form| %>

  <div class="field">
    話語標題<br>
    <%= form.text_field :title, id: :word_title, required: true, class: 'form-control' %>
  </div>

  <div class="field">
    話語本文<br>
    <%= form.text_area :content, id: :word_content, required: true, class: 'form-control' %>
  </div>

  <div class="field" style="display:none">
  <!-- <div class="field"> -->
    <%= form.label :link_id %>
    <%= form.number_field :link_id, id: :word_link_id, :value => params["link_id"] || params["id"] %>
  </div><br>

  <div class="field">
    聚會時間分類<br>
    <%= form.collection_check_boxes :service_time_category_ids, ServiceTimeCategory.all, :id, :name, class:"form-control" %>
  </div><br>

  <div class="field">
    聚會類型分類<br>
    <%= form.collection_check_boxes :service_type_category_ids, ServiceTypeCategory.all, :id, :name, class:"form-control" %>
  </div><br>

  <div class="field">
    話語內容分類<br>
    <%= form.collection_check_boxes :word_content_category_ids, WordContentCategory.all, :id, :name, class:"form-control" %>
  </div><br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
