<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @word.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @word.content %>
</p>

<p>
  <strong>Link:</strong>
  <%= @word.link_id %>
</p>

<p>
  <strong>Service time category:</strong>
  <%= @word.service_time_category_id %>
</p>

<p>
  <strong>Service type category:</strong>
  <%= @word.service_type_category_id %>
</p>

<p>
  <strong>Word content category:</strong>
  <%= @word.word_content_category_id %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
